<template>
  <require from="components/pager/pager.css"></require>

  <div class="pager-container">
    <span if.bind="enableFirstLastPageArrows" click.delegate="pageToBeginning()">
      <template replaceable part="page-to-beginning-content">
        <button type="button" disabled.bind="!canPageBackward">|<</button>
      </template>
    </span>
    <span if.bind="enablePageArrows" click.delegate="retreat()">
      <template replaceable part="page-retreat-content">
        <button type="button" disabled.bind="!canPageBackward"><</button>
      </template> 
    </span>
    <span if.bind="hasMultiplePages" click.delegate="pageTo(firstPage)">
      <template replaceable part="page-first-content">
        <button type="button" disabled.bind="!canPageBackward">${firstPage}</button>
      </template>
    </span>
    <span if.bind="hasMorePagesBackward">
      <template replaceable part="page-filler-before-content">
        <button type="button" disabled>...</button>
      </template>
    </span>
    <template repeat.for="page of range">
      <span click.delegate="pageTo(page)">
        <template replaceable part="page-content">
          <button type="button" disabled.bind="isCurrentPage(page)">${page}</button>
        </template>
      </span>
    </template>
    <span if.bind="hasMorePagesForward">
      <template replaceable part="page-filler-after-content">
        <button type="button" disabled>...</button>
      </template>
    </span>
    <span if.bind="hasMultiplePages" click.delegate="pageTo(totalPages)">
      <template replaceable part="page-last-content">
        <button type="button" disabled.bind="!canPageForward">${totalPages}</button>
      </template>
    </span>
    <span if.bind="enablePageArrows" click.delegate="advance()">
      <template replaceable part="page-advance-content">
        <button type="button" disabled.bind="!canPageForward">></button>
      </template>
    </span>
    <span if.bind="enableFirstLastPageArrows" click.delegate="pageToEnd()">
      <template replaceable part="page-to-end-content">
        <button type="button" disabled.bind="!canPageForward">>|</button>
      </template>
    </span>
    <span if.bind="enablePageInput">
      <input value.bind="pageInput" blur.trigger="updateCurrentPage()" class="${ !isValidPageInput ? 'invalid' : '' }" />
    </span>
  </div>
</template>